name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build and push Docker image
        run: |
          echo ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }} | docker login -u ${{ secrets.DO_REGISTRY_USERNAME }}  --password-stdin registry.digitalocean.com
          docker build -t registry.digitalocean.com/${{ secrets.DO_REGISTRY_USERNAME }}/docker-react:${GITHUB_SHA} .
          docker push registry.digitalocean.com/${{ secrets.DO_REGISTRY_USERNAME }}/docker-react:${GITHUB_SHA}

      - name: Deploy to DigitalOcean App Platform
        uses: digitalocean/app_action@main
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          app_spec: app.yaml