name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and push Docker image
        run: |
          echo ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }} | docker login -u ${{ secrets.DO_REGISTRY_USERNAME }} --password-stdin registry.digitalocean.com
          docker build -t registry.digitalocean.com/${{ secrets.DO_REGISTRY_USERNAME }}/docker-react:latest .
          docker push registry.digitalocean.com/${{ secrets.DO_REGISTRY_USERNAME }}/docker-react:latest

      - name: Deploy to DigitalOcean App Platform
        uses: digitalocean/app_action/deploy@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          app_spec_location: app.yaml
        env:
          DO_REGISTRY_USERNAME: ${{ secrets.DO_REGISTRY_USERNAME }}